.document{
    display: flex;
    gap: 15px;
    width: 100%;
    height: 100%;
    align-content: center;
}

/*Existio un juego entre el tt, p y a, para que cada uno tenga su propio diseño*/
/*puedes cambiarlos por div, o como quieras*/
.document tt{
    font-size: 16px;
    margin: 8px 30px;
}

.document p{
    font-size: 16px;
    margin: 8px 205px;
}

.document a{
    font-size: 16px;
    margin: 8px 175px; /*después del 175 se hace un caos, mejor dejar así*/
}