body{
    background-color: #F2F5F7;
}

/* Color del fondo */
.contai{
    display: inline; 
    background-color: #F2F5F7;
}

/* Diseño de todos los recuadros */
.hea{
    justify-content: center;
    align-items: center;
    margin: 45px 45px;
}

/* Diseño de la parte superior */
.top{
    display: flex;
    flex-direction: row;
    position: top ;
    gap: 5px;
    font-size: 18px;
}

/* Imagen de la persona */
.picture{
    width: 65px;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

/* Diseño de la imagen de la persona */
.picture-a{
    width: 60px;
    height: 60px;
    text-align: center;
    color: #464646;
    background-color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.picture-gear{
    width: 65px;
    height: 60px;
    color: #464646;
    background-color: #F2F5F7;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

/* Barra de busqueda */
.search{
    flex: 45%;
    width: 60px;
    height: 100%;
    margin: 15px 160px;
    display: flex;
    align-content: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.search p{
    font-size: 16px;
    margin: 8px 12px;
}


.search-deployment{
    display: flex;
    flex: 20%;
    width: 60px;
    height: 100%;
    margin: 15px 65px;
    align-content: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.search-deployment p{
    font-size: 16px;
    margin: 8px 10px;
}

.sidebar{
    display: column;
    height: 10px;
    margin-top: 50px;
    gap: 5px;
}

.button{
    display: flex;
    line-height: 45px;
    width: 200px;
    height: 45px;
    text-align: center;
    background: #335C94;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button{
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
}

.button-plus{
    text-align: left;
    margin: 10px;
    width: 25px;
    height: 25px;
}

.category{
    display: column;
    text-decoration: none;
    margin-top: 25px;
    font-size: 18px;
}

.category p{
    margin: 16px 40px;
}

.shapes{
    text-align: left;
    float: left; /*Esto es lo que permite el shapes esten junto al texto*/
    width: 30px;
    height: 30px;
}

.underline{
    width: 200px;
    height: 4px;
    background-color: #464646;
}

.subcategory{
    display: column;
    text-decoration: none;
    margin-top: 14px;
    font-size: 15px;
}

.subcategory p{
    margin: 20px 35px;
}

.star{
    text-align: left;
    float: left; /*Esto es lo que permite que las estrellas esten junto al texto*/
}

.newcategory{
    margin-top: 0px;
    font-size: 16px;
}

.newcategory p{
    margin: 10px 30px;
}

.plus{
    margin-top: 8px;
    float: left; /*Esto es lo que permite que este junto al texto*/
    width: 22px;
    height: 22px;
}

.buttonCV{
    display: flex;
    width: 150px;
    height: 45px;
    line-height: 15px;
    background: #FFFFFF;
    color: #335C94;
    border: 1px solid #335C94;
    cursor: pointer;
    transition: all .4s ease-in-out;
    margin: 100px 15px; /*Este mueve el lugar del botón*/
}

.buttonCV p{
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
}

.move{
    text-align: left;
    margin: 10px;
    width: 25px;
    height: 25px;
}

.main-container{
    width: 85%;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.1);
    margin: 0px 224px;
    border-radius: 5px;
}

.speci{
    display: inline-flex;
    gap: 380px;
    margin: 5px 30px;
}

.speci b{
    font-size: 18px;
    text-decoration: underline;
}

.narbar-mainc{
    width: 100%;
    height: 45px;
    background: #464646;
    border-radius: 5px;
}

.icon-right{
    text-align: right;
}

.trash{
    margin: 10px;
    width: 25px;
    height: 25px;
    color: #f1f1f1;
    cursor: pointer;
}