/*Todo el contenido en general, todo el color y tipo de letras*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 
  
/*Todo el contenido en de atras, tecnicamente*/
body{
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 
  
  
/*Todo el diseño del contenido, este une todo*/
.cotaineer{
    width: 100%;
    height: 560px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
}
  
/*Todo el encabezado, el que se encarga de que se vea el inicio y se vea bonito*/
.headeer{
      display: flex;
      flex-direction: column;
      width: 85%;
      max-width: 70%;
      margin: 60px 225px;
      border-radius: 30px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 2px 5px 0 #454545;
}
  
/*Como se vera el texto de "Personaliza tu experiencia"*/
.textt{
      margin-top: 45px;
      flex-direction: column;
      color: #2B59B0;
      font-size: 24px;
      font-weight: bold;
}

.headeer p{
    margin-top: 25px;
    font-size: 15px;
}

.center{
    margin: 60px 300px;
}

/*Es el contender de como se acomodaran los elementos de relleno*/
.inputss{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 15px;
    margin: 45px 150px;
}

.inputt {
    position: relative;
}
  
/*Cada uno de los elementos que se rellena, como se vera*/
.inputt{
    margin-top: 3px;
    display: block;
    width: 100%;
    height: 75px;
    border: 1px solid #ddd;
    background-color: #eaeaea;
    border-radius: 5px;
    cursor: pointer;
}
  
/*La imagen que tendra, aún le falta la imagen*/
.inputt img{
    margin: 0px 30px;
    float: none;
}

.inputt p{
    margin-top: 5px;
    margin-left: 18px;
    gap: 15px;
    display: flex;
}
  
/*El contenido de los botones*/
.submit-containere{
    display: flex;
    justify-content: space-between;
    gap: 18px;
}
  
/*Cada botón*/
.submits{
    background-color: white;
    color: #2e5aaa;
    border: 1px solid #2e5aaa;
    flex: 1;
    
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.submits:hover {
    background-color: #f0f2f5;
}

.submit-containere a {
    flex: 1;
    text-decoration: none;
}
  
.submit-containere a .submit {
    background-color: #2e5aaa;
    color: white;
}
  
.submit-containere a .submit:hover { 
    background-color: #1e4a9a;
}