.sidebar .button {
    background-color: #335C94;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .sidebar .button-plus {
    font-size: 16px;
  }
  
  /* Hover para el botón */
  .sidebar .button:hover {
    background-color: #254975;
  }
  
  .sidebar .buttonCV {
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .sidebar .buttonCV:hover {
    background-color: #335C94;
    color: white;
    border-color: #335C94;
  }
  .sidebar .newcategory {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 5px;
    border-radius: 5px;
  }
  
  .sidebar .newcategory:hover {
    background-color: #e0e7ef;
  }
  
  .sidebar .subcategory {
    max-height: 200px; 
    overflow-y: auto;
    padding-right: 4px;
    margin-top: 10px;
    scrollbar-color: #ccc #f1f1f1; /* Firefox */
    scrollbar-width: thin;
  }
  
  /* Scrollbar para WebKit (Chrome, Edge, Safari) */
  .sidebar .subcategory::-webkit-scrollbar {
    width: 8px;
  }
  
  .sidebar .subcategory::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  .sidebar .subcategory::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .sidebar .subcategory::-webkit-scrollbar-thumb:hover {
    background: #bbb;
  }
  