.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 550px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}
  
  /* Header */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-icons .icon-help,
  .header-icons .icon-close {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .btn-icono {
    font-size: 20px;
    color: #464646;
    transition: color 0.2s ease;
    cursor: pointer;
  }
  
  .btn-icono:hover {
    color: #335c94;
  }
  
  .input-nombre {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease;
  }
  
  .input-nombre:hover {
    border-color: #335c94;
  }
  
  .field-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .input-propiedad {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease;
  }
  
  .input-propiedad:hover {
    border-color: #335c94;
  }
  
  .select-tipo {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease;
  }
  
  .select-tipo:hover {
    border-color: #335c94;
  }
  
  .radio-group {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
  }
  
  .required-fixed {
    font-weight: bold;
    color: #333;
    font-size: 14px;
  }
  
  .icon-trash {
    color: #dc3545;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .icon-trash:hover {
    color: #b52a3b;
  }
  
  .modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .btn-add {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .btn-add:hover {
    background-color: #333;
  }
  
  .btn-save {
    background-color: #335C94;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-save:hover {
    background-color: #254975;
    cursor: pointer;
  }
  
  /* Etiqueta */
  .perfil-label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Inputs generales */
  .perfil-email-input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  .perfil-email-input:hover {
    border-color: #335c94;
  }
  
  .icon-close {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .icon-close:hover {
    color: #c0392b; 
  }