.inner{ padding: 80px 20px;}

.cotainer{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 1050px;
    margin: 55px 220px;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px 0 #454545;
}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.article{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1620db;
    padding: 80px 20px;
}

.aside{
    padding: 80px 20px;
}

.inputs{
    width: 55%;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 65px;
    background-color: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    width: calc(100% - 55px);
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 18px;
    padding: 10px 15px 8px px;
    background-position: 3% 50%;
}

.forgot-password{
    margin-top: 35px;
    padding-left: center;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #3c009d;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 25px;
    margin: 55px 15px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 58px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 12px 15px;
    margin-top: 35px;
}

.gray{
    background: #eaeaea;
    color: #676767;
}